body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: center;
    animation: colorchange 4s;
    -webkit-animation: colorchange 4s;
}

@keyframes colorchange {
      0%   {background: white;}
      100% {background: #5dc1cd;}
}

@-webkit-keyframes colorchange {
    0%   {background: white;}
    100% {background: #5dc1cd;}
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes rotateAnim {
    from {transform: rotate(0);}
    to {transform: rotate(720deg);}
}

button {
    background: rgba(255,255,255,0);
    border: none;
    outline: 0;
    animation: rotateAnim 4s;
    -webkit-animation: rotateAnim 4s;
}
