/* --ALL-- */

/* header */

@media (min-width:980px) {
	body {
		margin-left: 12%;
		margin-right: 12%;
	}
}

header {
	text-align: center;
	background-color: #99d5db;
	height: 320px;
}

#logo {
  margin-top: 5%;
}

h1 {
  font-size: 26px;
  font-family: 'Slabo 27px', serif;
  margin-top: 1%;
}

h2 {
	font-size: 14px;
  font-family: 'Roboto', sans-serif;
	font-style: italic;
	margin-top: -3px;
}

/* menu */

.menu {
  background:#3a3a3a;
  color:#fff;
  height:50px;
  position:relative;
}

.menu nav {
	font-family: 'Slabo 27px', serif;
  background:inherit;
  font-size:20px;
  height:0;
  overflow:hidden;
  transition:height .2s;
	padding-top: 55px;
}

.menu nav > * {
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

.menu nav input {
  background:rgba(0,0,0,.2);
  border:none;
  color:#fff;
}

.menu .burger {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-family: 'Slabo 27px', serif;
	text-transform:uppercase;
  font-size:20px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  margin-left: 20px;
}

.menu .burger:before {
  content:'menu';
}

.menu .burger:checked:before {
  content:'close';
}

.menu .burger:checked + nav {
  height:calc(30vh - 50px);
}

nav a {
  color:#fff;
  text-decoration:none;
}

/* text */

p {
	font-family: 'Roboto', sans-serif;
}

/* images */

.img_border {
  border-width : 1px;
  border-color : #cecece;
  border-style : solid;
}

/* --HOME-- */

/* images */

.cover {
	object-fit: cover;
	height: 300px;
}

 .img_home {
	 width: 100%;

 }

 .row {
     width : 100%;

 }

 .row > div {
     float : left;

 }

 .col {
     width : 425px;
 }

@media only screen and (min-width:500px) and (max-width:980px) {
     .row > div {
         margin : 0 0.5%;
     }
     .col {
         width : 32.3%;
     }
 }

@media only screen and (max-width:500px) {
     .row {
         width; : 100%;
     }

     .col {
         width : 98%;
         float : none;
     }
}

/* text */

.background {
	  font-size: 28px;
    font-family: 'Slabo 27px', serif;
		height: 270px;
		margin-top: 0em;
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 0em;
 }

.background_blue {
	 background-color: #cbf1f4;
}

.background_gray {
	 background-color: #f2f2f2;
}

/* --PROJECT-- */

/* title */

h3 {
	font-size: 38px;
  font-family: 'Slabo 27px', serif;
	margin-top: 20px;
}

/* images */

.img_project {
	margin-right: 2%;
  margin-bottom: 5%;
}

.rounded_image{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:90px;
  height:90px;
	margin-right: 10px;
}

/* --LANDING-- */

.soon_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 40px;
  margin-top: 5%;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 6%;
  max-width: 300px;
}

.landing_hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
  width: 310px;
}

.bold {
  font-weight: bold;
}

.icons {
  text-align: center;
}

#cursor {
  cursor: pointer;
	margin-right: 8px;
}
