@import url(https://fonts.googleapis.com/css?family=Raleway);

/* --ALL-- */

/* header */

@media (min-width:980px) {
	body {
		margin-left: 12%;
		margin-right: 12%;
	}
}

header {
	text-align: center;
	height: 320px;
}

#logo {
  margin-top: 5%;
}

h1 {
  font-size: 26px;
  font-family: 'Slabo 27px', serif;
  margin-top: 1%;
}

h2 {
	font-size: 14px;
  font-family: 'Roboto', sans-serif;
	font-style: italic;
	margin-top: -3px;
}

/* text */

p {
	font-family: 'Roboto', sans-serif;
}

/* images */

.img_border {
  border-width : 1px;
  border-color : #cecece;
  border-style : solid;
}

/* --HOME-- */

/* images */

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 32.5%;
  max-width: 32.5%;
  padding: 4px;

}

.column img {
  vertical-align: middle;
  height: 400px;
  width:100%;
  object-fit: cover;
  margin-bottom: 7px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 48.9%;
    max-width: 48.9%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.content {
  position: relative;
  width: 100%;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 98%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.10em;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.content-details p{
  color: #ffffff;
  font-size: 14px;
}

.fadeIn-bottom{
  top: 80%;
}

/* --PROJECT-- */

/* title */

h3 {
	font-size: 38px;
  font-family: 'Slabo 27px', serif;
	margin-top: 20px;
}

h4 {
	font-size: 24px;
  font-family: 'Slabo 27px', serif;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* images */

.rounded_image{
  overflow:hidden;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:90px;
  height:90px;
	margin-bottom: 10px;
}

/* --LANDING-- */

.soon_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 40px;
  margin-top: 5%;
}

form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 6%;
  max-width: 300px;
}

.landing_hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
  width: 310px;
}

.bold {
  font-weight: bold;
}

.icons {
  text-align: center;
}

#cursor {
  cursor: pointer;
	margin-right: 8px;
}
